
* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --headfoot: #77878B;
}

body {
    background-color: #6e9797;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headfoot);
    color: black;
}

/* navigation elements */
header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header nav ul li {
    margin-left: 10px;
    list-style: none;
}

/* about me section */
.about {
    display: flex;
    align-items: center;
    background-color: #B7D5D4;
}

.about div{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.image-profile {
    width: 100%;
    border-radius: 50%;
    }
/* about me info snippet */
article {
    width: 70%;
    padding: 0 20px;
}

/* contact section */
.contact {
    display: flex;
    flex-direction: column;
    margin: 15px;
    
    
}


/* project section (which is currently placeholders) */
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}

#projects {
    margin: 15px;
}

.project div {
    display: flex;
    padding: 15px;
}

.projectImage1 {
    border-radius: 10px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.39);
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 300px;
    margin-right: 6px;
}

.lastTwo {
    
    display: flex;
    flex-direction: column;
    
}

.projectImage2 {
    border-radius: 10px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.39);
    height: 150px;
    width: 150px;
}

.projectImage3 {
    border-radius: 10px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.39);
    height: 150px;
    width: 150px;
}

.projectTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    color: hotpink
    font-size: 20px;

}

/* simple footer; not sure what else other than date */
footer {
    background-color: var(--headfoot);
    color: black;
    text-align: center;
} */










