* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #305252;
}

header {
    width: 100%;
    background-color: #77878B;
    color: black;
}

article {
    background-color: #488286;
    color: black;
}
 
h2 {
    padding: 1rem;
    background-color: #425a60
}


footer {
    background-color: #77878B;
    color: black;
    text-align: center;
}

/* this affects the info in the about me section */
.about {
    height: 40%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: #305252;
    color: black;
    left: 25%;

}

.info {
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1%;
    left: 25%;
    
    
}


.contact > p {
    background-color: #B7D5D4;
    color: black;
    display: inline-flex;
    margin-left: 1%;
    
}

/* navigation elements */
.header > nav ul li {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.text-right {
    text-align: right;
}

/* profile image settings */
.image-profile {
    position: relative;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    margin: 1% 0 0 1%;
}


/* classes below affect project images*/
.image-project1 {
    height:30rem;
    width: 30rem;
    padding: 1%;
    
}

.image-project {
    height: 15rem;
    width: 15rem;
    padding: 5%;
    
}

.image-project2 {
    height: 15rem;
    width: 15rem;
    position: relative;
    top: 50%;
    right: 100%;
    padding: 5%;
    
}

/* make the project images move */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    
}

/* below is media queries for different sized devices */

@media screen and (max-width: 576) {
   
}
